body{
    height: 100vh;
    width: 100%;
    background-image: url("../images/blog_home.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: black;
}
.container{
    display: flex;
    height: 600px;
    align-items: center;
}