
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <h1 class="text-center text-dark">Student Details</h1>
        <div class="container d-flex shadow justify-content-center w-25">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">FirstName:<span class="fw-bold">{{data.firstname}}</span></h5>
                  <p class="card-text">LastName:<span class="fw-bold">{{data.lastname}}</span></p>
                      <p class="card-text"> Date of Birth: <span class="fw-bold">{{data.dob}} </span></p>
                  <p class="card-text">Email:<span class="fw-bold"> {{data.email}}</span></p>
                  <p class="card-text">Address: <span class="fw-bold">{{data.address}}</span></p>
                  <p class="card-text">Phone No:<span class="fw-bold"> {{data.phone}}</span></p>
                  <p class="card-text">Department: <span class="fw-bold">{{data.department}}</span></p>
                </div>
              </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
